#container{
	margin: 0 auto;
	background-color: #d1e0e0;
}
table{
	margin-top: 20px;
	border-collapse: collapse;
}

th, tr, td{
	border: 1px solid black;
	padding: 10px 20px;
}	


#form{
	border: 1px solid black;
	height: 280px;
	width: 290px;
}

#title {
	text-align: center;
	background-color:  #00cc99;
	color: white;
	padding: 25px;
}

#body{
	background-color: #d1e0e0;
	height: 800px;
	text-align: center;
}

#navbar {
	text-align: center;
}
